@import './base.css';

:root {
  --color-key-border: #282828;
  --color-key-white: #f8f8f8;
  --color-key-black: #222222;
  --color-key-white-hover: #bbbbbb;
  --color-key-black-hover: #333333;
  --color-key-white-pressed: #aaaaaa;
  --color-key-black-pressed: #444444;
  --key-width: 2.5em;
  --key-height: 12rem;
  --color-pastel: #b7cf9c;
  --color-pastel-hover: #a3c08b;
  --color-pastel-pressed: #8eaf7a;
  --color-yellow: #ffe93d;
  --color-yellow-hover: #f9e02f;
  --color-yellow-pressed: #e9d41b;
  --color-orange: #ff951d;
  --color-orange-hover: #f58e1a;
  --color-orange-pressed: #e57e16;
  --color-red: #db462a;
  --color-red-hover: #d13f26;
  --color-red-pressed: #c22f1f;
  --color-red-dark: #a64538;
  --color-red-dark-hover: #9b3e34;
  --color-red-dark-pressed: #8b2e2b;
  --color-white: #fff9e1;
  --color-white-hover: #f8f0d1;
  --color-white-pressed: #e8d9b3;
  --color-dark-blue: #072833;
  --color-dark-blue-hover: #06252d;
  --color-dark-blue-pressed: #052225;
  --color-blue: #1f6f8b;
  --color-blue-hover: #1b6480;
  --color-blue-pressed: #15546b;
  --color-pink: #F09EA7;
  --color-pink-hover: #e68f98;
  --color-pink-pressed: #d97f88;
  --color-light-orange: #F6CA94;
  --color-light-orange-hover: #f0c087;
  --color-light-orange-pressed: #e0b073;
  --color-light-yellow: #F6E3A2;
  --color-light-yellow-hover: #f0d995;
  --color-light-yellow-pressed: #e0c97f;
  --color-light-green: #C1EBC0;
  --color-light-green-hover: #b4e4b3;
  --color-light-green-pressed: #a3dca2;
  --color-light-purple: #C7CAFF;
  --color-light-purple-hover: #b9bdf9;
  --color-light-purple-pressed: #a8abf0;
  --color-purple: #CDABEB;
  --color-purple-hover: #c29de3;
  --color-purple-pressed: #b08dd9;
  --color-turqoise: #76dad2;
  --color-turqoise-hover: #6dcfc6;
  --color-turqoise-pressed: #5dc1b8;
  --color-light-blue: #AED9E0;
  --color-light-blue-hover: #a1d1d8;
  --color-light-blue-pressed: #90c7ce;
  --color-grey: #7e7e7e;
  --color-grey-hover: #737373;
  --color-grey-pressed: #636363;
}
